/*
!/.github
!/Sources
!/Tests
!/Package.swift
!/.spi.yml
!/LICENSE.md
!/README.md
!/.gitignore

/.github/*
!/.github/workflows
!/.github/metadata.yaml
!/.github/FUNDING.yml
/.github/workflows/*
!/.github/workflows/ci.yml

/Sources/**
!/Sources/**/
!/Sources/**/*.swift
/Tests/**
!/Tests/**/
!/Tests/**/*.swift
