/*
!/.github
!/Sources
!/Tests
!/Examples
!/Checks
!/Package.swift
!/.spi.yml
!/LICENSE
!/LICENSE.md
!/README.md
!/.gitignore

/.github/*
!/.github/workflows
!/.github/metadata.yaml
!/.github/FUNDING.yml
/.github/workflows/*
!/.github/workflows/ci.yml

/Sources/**
!/Sources/**/
!/Sources/**/*.swift
/Tests/**
!/Tests/**/
!/Tests/**/*.swift
!/Tests/**/*.py
/Examples/**
!/Examples/**/
!/Examples/**/*.swift
!/Examples/**/*.txt
!/Examples/**/*.pbxproj
!/Examples/**/*.xcscheme
/Checks/**
!/Checks/**/
!/Checks/**/*.swift

**/.*/
!/.github/
**/*.docc/
**/DerivedData/
**/node_modules/
**/xcuserdata/
**/Package.resolved
